.title-one{
    font-size: 45px;
}
.our-word , .services-word{
    font-weight: bolder;
}
.title-two{
    margin-top: 22px;
    font-size: 20px;
    color: rgb(104, 105, 107);
}

.cards-container{
    margin-top: 10px;
}
.card-paragraph{
    font-size: 15px;
    color: rgb(79, 80, 82);
}

.icon-card{
    background-color: #cecece;
    position: absolute;
    padding:5px;
    top: -20px; /* Half the height of the circle */
    left: 4%;
    transform: translateX(-50%); /* Center horizontally */
    width: 70px;
    height:70px;
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
svg{
    height:40px;
    width:40px;
}
.position-relative {
    position: relative;
    background-color:#a0ced4c9 !important;
    border:none !important;
    margin-top:30px;
}
.our-services{
    margin:100px 4px 100px 4px;
}
