body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.profilePage {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.profileCard {
  background: var(--white-color);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.profileImage {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--gray-color);
}

.info {
  margin: 15px 0;
}

.info p {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 5px 0;
}

.profileButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.editBtn, .msgBtn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.editBtn {
  background-color: var(--gray-color);
}

.msgBtn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.bottomSection {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.profileButtons .msgBtn:hover {
  background-color: #0e79a3;
  transition:  0.3s ease;
}
.profileButtons .editBtn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transition:  0.3s ease;
}

.experienceCard, .scheduleCard {
  background: var(--white-color);
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.graphImg {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

.experienceCard ul {
  list-style-type: "✔   ";
  padding-left: 20px;
  line-height: 1.8;
  margin-top: 60px;
  margin-left: 30px;
}
.scheduleCard {
  padding: 20px 30px 20px 30px;

}
.scheduleCard h3 {
  margin-bottom: 20px;
}

.days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
}

.days span {
  cursor: pointer;
  color: var(--text-color);
}

.days .active {
  color: var(--primary-color);
  font-weight: bold;
}

.appointments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color);
  border-radius: 10px;
  padding: 5px 20px;
}

.smallAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.callIcon {
  color: var(--secondary-color);
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .profilePage {
    width: 90%;
  }

  .bottomSection {
    flex-direction: column;
  }

  .scheduleCard {
    order: 2;
  }

  .experienceCard {
    order: 3;
  }
}
