.patientCard{
    background: linear-gradient(to right,#015D82,#00A6CE);
}
.patientImage{
    width:200px;
    height:200px;
    object-fit: cover;
    display: block;
    background: white;
    display: block;
    border: none; 
}
.image-wrapper {
    position: relative;
    display: inline-block;
    padding: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
}
.patientDetails{
    display:inline-block;
    color:white;
}
#patientName{
    font-weight: bolder;
}
.svg-info{
   background: rgba(255, 255, 255, 0.19);
   backdrop-filter: blur(50px);
   border-radius:20%;
   padding:5px;
   
}
.another-info{
    color:white;
}
.title{
    display:inline;
    font-size: 20px;
    padding-left:15px;
}
.title2{
    font-size: 20px;
    margin-top: 5px;
}

.answer{
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.answer2{
    display: block;
    font-size: 35px;
    font-weight: bold;
}
.patientInfo p{
    font-size: 21px;
    margin-top:9px;
    display: inline;
}

.info{
    background: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.score{
    background-color:#ffffff !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    height:200px;
}


@media (max-width: 767px) {
    .patientDetails {
        display:block;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 200px;
    }
    
    .image-wrapper {
        margin: 0 auto;
        justify-content: center;
    }
    .image-container{
        display: flex;
        justify-content: center;
    }
}

/* Medium screens and up - 764px and above */
@media (min-width: 764px) {
    .patientDetails {
        text-align: left;
        justify-content: flex-start;
    }
}