.forget-page {
  font-family: sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 40px 20px;
  margin: 60px auto;
  max-width: 500px;
  align-items: center;
  gap: 20px;
}
.forget-page h3 {
  text-align: center;
  font-weight: bold;
}
.forget-page p {
  color: gray;
  text-align: center;
  font-weight: normal;
  font-size: small;
  margin-bottom: 20px;
}
.forget-page label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
.forget-page input {
  width: 250px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.forget-page button {
  border: none;
  border-radius: 5px;
  background-color: #015d82;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 250px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}
.forget-page button:hover {
  background-color: hsl(197, 98%, 36%);
}
.forget-page a {
  color: #015d82;
  font-weight: bold;
}
.forget-page img {
  height: 70vh;
}

@media screen and (max-width: 480px) {
  .forget-page {
    flex-direction: column;
    margin: 20px auto;
    max-width: 95%;
    align-items: center;
    text-align: center;
  }

  .forget-page img {
    height: 30vh;
  }

  .forget-page input,
  .forget-page button {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .forget-page {
    flex-direction: column;
    margin: 30px auto;
    max-width: 80%;
    align-items: center;
  }

  .forget-page img {
    height: 40vh;
  }

  .forget-page input,
  .forget-page button {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .forget-page {
    max-width: 800px;
  }

  .forget-page img {
    height: 60vh;
  }

  .forget-page input,
  .forget-page button {
    width: 300px;
  }
}
