.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.062);
}
.navbar .left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar .brand {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 15px;
}

.navbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
}

.navbar .user i {
  font-size: 1.5rem;
  color: var(--text-color);
}
.menuIcon {
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}

@media (max-width: 1024px) {

  .navbar {
    display: flex;
  }
   .menuIcon {
    display: block;
  }
}