body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.profilePage {
  width: 95%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heroTitle {
  font-size: 3rem;
  color: #0e79a3;
  font-weight: 500;
}

.profileCard {
  background: linear-gradient(135deg, #0e79a3, #00c6ff);
  border-radius: 20px;
  padding: 30px;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profileContent {
  display: flex;
  align-items: center;
  gap: 100px;
}

.profileImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--gray-color);
  flex-shrink: 0;
  transition: 1s;
}
.profileImage:hover {
  transform: scale(1.05);
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.info,
.profileDetails p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}

.bottomSection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.experienceCard {
  background: var(--white-color);
  border-radius: 20px;
  padding: 20px;
  flex: 1 1 48%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.graphImg {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-bottom: 15px;
}

.scheduleCard h3 {
  margin-bottom: 40px;
}

.days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
}

.days span {
  cursor: pointer;
  color: var(--text-color);
  margin-left: 3rem;
}

.days .active {
  color: var(--primary-color);
  font-weight: bold;
}

.appointments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment {
  display: flex;
  align-items: center;
  gap: 50px;
  background: #0e79a33b;
  border-radius: 10px;
  padding: 1rem 6rem;
  width: 100%;
  cursor: pointer;
}

.appointment:hover {
  background: #0e79a3;
  color: #fff;
  transition: 0.3s ease;
}

.smallAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  flex-shrink: 0;
}

.patientInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.viewAllBtn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #0e79a3;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.viewAllBtn:hover {
  background-color: #0c668b;
  transition: 0.3s ease;
}
.scheduleCard {
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 20px;
  padding: 50px;
  flex: 1 1 48%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .bottomSection {
    flex-direction: column;
  }

  .experienceCard,
  .scheduleCard {
    flex: 1 1 100%;
    background-color: rgba(128, 128, 128, 0.397);
  }
}
