.overview-title h2{
    font-weight:bolder;
    font-size: 45px;
}
.overview-container{
    margin:100px 4px 100px 4px;
}
.overview-paragraph{
    color: rgb(83, 84, 86);
    font-size: 20px;
}
.fields-word{
    font-size: 30px;
    background-color: #d5d3d3;
}
.card-field{
    background-color: #f1ededb7 !important;
    border:none !important;
}
