.sidebar {
  width: 240px;
  background-color: var(--white-color);
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 65px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.sidebar .top {
  padding: 20px;
}

.sidebar .logo {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 10px;
  color: var(--primary-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}
.sidebar a.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.sidebar a:hover {
  background-color: #0e79a3;
  color: var(--white-color);
}

.sidebar .logout {
  color: crimson;
  text-decoration: none;
  font-weight: 600;
}
.sidebar .logout:hover {
  text-decoration: underline;
  background-color: crimson;
}

/* @media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
} */
