:root {
  --primary-color: #015D82;
  --secondary-color: #00A6CE;
  --background-color: #F5F5F5;
  --text-color: #333333;
  --white-color: #FFFFFF;
  --gray-color: #999999;
}
body{
    background-color: var(--primary-color);
}
.primary-text{
    color: var(--primary-color);
}
.secondary-text{
    color: var(--secondary-color);
}
.accept-btn{
    background-color: #00A6CE;
    color: white;
    width: 100px;
    height: 2.5rem;
    border: none;
    border-radius: .4rem;
}
.decline-btn{
    background-color: transparent;
    color: rgb(199, 19, 19);
    width: 100px;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: .4rem;
}
.accept-btn-all{
    background-color: #00A6CE;
    color: white;
    width: 150px;
    height: 2.5rem;
    border: none;
    border-radius: .4rem;
}
.decline-btn-all{
    background-color: transparent;
    color:black;
    width: 150px;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: .4rem;
}
.primary-btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: .3rem;
}
.secondary-btn{
    color: var(--white-color);
    background-color: var(--secondary-color);
     border: none;
    border-radius: .3rem;

}
.text{
    color: var(--text-color);
}
.desc{
    color: var(--gray-color);
}
.bg-color{
   background-color: var(--background-color);
}